/* this css is not global is only for the app.jsx */
body{
    background-color: #281b24;
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
   background-color: #f57e67;
   width: 50%;
   border-radius: 5px;
  
}  

.container form{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
   background-color: #f57e67;
    border-radius: 5px;
}


.container h1{
    display: flex;
    align-items: center;
    flex-direction: inline;
    justify-content: space-between;
    margin: 50px 0 20px;
    width: 370px;
    font-family: 'Merriweather', serif;
}



.container input{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40%;
    padding: 15px 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background: aliceblue;
    font-size: 18px;
}
.container button{
    width: 17%;
    padding: 15px;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 600;
    background-color: #d02941;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s ease;
    
}
.container button:hover{
     background-color: #A52134;
 
}

body, input, button{
    font-family: 'Roboto', sans-serif;
}